# common project files
target
settings.xml
*.class
**/lombok.config

# IDE project files
*.iml
.project
.buildpath
.classpath
.settings
.checkstyle
.cache
.history
.vscode

#Mac
.DS_Store

# Package Files #
*.jar
*.war
*.ear

*.log

#Idea specific ignores
.idea

# Gradle
.gradle
.gradle/
build/
out/
